@import './base/settings';
@import './base/base';

body {
  background: #e9e7e5;
}

.container {
  width: 40%;
  background: #fcfcfb;
  margin: 10% auto;
  overflow: auto;
}

.item {
  margin-top: 20px;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

div.counter:hover {
  cursor: pointer;
}
